.page {
    width: 816px;
    height: 1056px;
    display: grid;
    grid: 80px 96px / repeat(10, 80px);
    gap: 5px;
}

h1 {
    margin: 0;
}
h5 {
    color: cornflowerblue;
    margin: 0;
    margin-top: 1em;
    font-size: 1em;
}
h4 {
    margin: 0;
    margin-top: 1em;
    font-size: 1em;
    font-weight: bold;
}
p {
    margin: 0;
}

#main-left p {
    color: darkslategrey;
    margin-top: 0.2em;
}
#main-right p {
    color: darkslategrey;
    margin-top: 1em;
}

#header-left {
    grid-column: 2 / 7;
    grid-row: 2 / 3;
}
#header-right {
    grid-column: 7 / 10;
    grid-row: 2 / 3;
}
#main-left {
    grid-column: 2 / 7;
    grid-row: 3 / 4;
}
#main-right {
    grid-column: 7 / 10;
    grid-row: 3 / 4;
}


@media all and (min-width: 817px) {
    body {
        background-image: url("images/bg.jpg");
        background-repeat:repeat;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
    }
    .page {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
        background-color: white;
        margin-top: 1em;
    }
}