body {
    background-color: rgb(0, 0, 0);
    background-image: url("images/sunset.jpg");
    background-repeat: no-repeat;
    background-size: 115vw;
    background-position-x: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0;
    color: white;
}

#cover-photo {
    margin-top: 15vw;
    width: 70%;
}

#cover-photo img {
    max-width: 100%;
    -webkit-box-shadow: 0px 0px 36px 20px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 36px 20px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 36px 20px rgba(0,0,0,0.59);
}

#frame {
    height: calc(70vw/3);
    width: 70vw;
    margin-top: 15vw;

    max-width: 100%;
    -webkit-box-shadow: 0px 0px 36px 20px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 0px 36px 20px rgba(0,0,0,0.59);
    box-shadow: 0px 0px 36px 20px rgba(0,0,0,0.59);

    overflow: hidden;
}

#countdown {
    position: relative;
    left: -15%;
    width: 130%;
    height: 400px;
    border: none;
}

@media all and (min-width: 720px) {
    html {
        display: flex;
        justify-content: center;
    }

    body {
        background-size: 720px;
        width: 720px;
    }

    #cover-photo {
        margin-top: 108px;
        width: 504px;
    }

    #frame {
        margin-top: 108px;
        width: 504px;
        height: 170px;
    }
}